{{ $logo := resources.Get "/logo.svg" }}
{{ $githubIcon := resources.Get "/github-icon.svg" }}
{{ $linkedInIcon := resources.Get "/linkedin-icon.svg" }}

<footer>
    <div class="container">
        <div class="flex sm:flex-row flex-col items-center gap-12 sm:py-24 py-16 w-full border-b border-jet-2">
            <div class="sm:w-8/12 w-full">
                <div class="max-w-md w-full space-y-10">
                    <a href="" aria-label="Logo">
                        <img class="h-14" src="{{ $logo.RelPermalink }}" alt="Logo" />
                    </a>
                    <p class="text-base text-jet-3 leading-8">
                        {{ .Site.Data.footer.footer_text }}
                    </p>
                </div>
            </div>
            <div class="sm:w-4/12 w-full">
                <div class="list-none flex flex-col gap-5 sm:pl-12 sm:py-8 sm:border-l border-jet-2">
                    {{ if trim .Page.RelPermalink "/"}}
                        <a href="/#services" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Services</a>
                        <a href="/#aboutMe" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">About Me</a>
                        <a href="/#experience" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Work Experience</a>
                        <a href="/#getInTouch" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Get In Touch</a>
                    {{ else }}
                        <a href="#services" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Services</a>
                        <a href="#aboutMe" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">About Me</a>
                        <a href="#experience" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Work Experience</a>
                        <a href="#getInTouch" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Get In Touch</a>
                    {{ end }}
                    <a href="/imprint/" class="text-sm text-jet-3 tracking-wide hover:text-emerald-1 transition-colors ease-in-out duration-150">Imprint</a>
                </div>
            </div>
        </div>
        <div class="flex sm:flex-row flex-col items-center justify-between gap-5 py-5">
            <p class="text-sm text-jet-3 leading-8">{{ replace .Site.Copyright "{year}" now.Year }}</p>
            <div class="flex items-center gap-3">
                <a href="https://github.com/timo0" aria-label="Github" class=" bg-jet-2 flex items-center justify-center w-8 h-8">
                    <img class="w-5 h-5" src="{{ $githubIcon.RelPermalink }}" alt="GitHub Icon" />
                </a>
                <a href="https://www.linkedin.com/in/timo-brandstaetter/" aria-label="LinkedIn" class=" bg-jet-2 flex items-center justify-center w-8 h-8">
                    <img class="w-5 h-5" src="{{ $linkedInIcon.RelPermalink }}" alt="GitHub Icon" />
                </a>
            </div>
        </div>
    </div>
</footer>